.team-matches-container {
  background-image: linear-gradient(to bottom, red, black);
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
}
.team-matches-content {
  display: flex;
  flex-direction: column;
  width: 100%;
}
.style-banner {
  width: 100%;
}
.latest-matches-heading {
  color: #ffffff;
  font-family: 'Roboto';
  font-size: 20px;
  font-weight: bold;
}
.match-card-container {
  padding-left: 0px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}
